absl-py==1.3.0
abstract_singleton==1.0.1
agora-token-builder==1.0.0
aiohttp==3.8.1
aiosignal==1.3.1
alpaca-trade-api==3.0.0
altair==4.2.2
aniso8601==9.0.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.0.5
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.1.0
audioread==3.0.0
auto_gpt_plugin_template==0.0.2
autoflake==2.1.1
Automat==22.10.0
autopep8==1.5.7
Babel==2.11.0
backcall==0.2.0
backoff==1.11.1
beautifulsoup4==4.11.1
bitarray==2.7.3
black==23.3.0
bleach==5.0.1
blinker==1.6.2
blis==0.7.9
blobfile==2.0.0
Brownie==0.5.1
bs4==0.0.1
CacheControl==0.14.0
cachetools==5.2.0
callbacks==0.3.0
catalogue==2.0.8
cdifflib==1.2.6
certifi==2022.9.24
cffi==1.15.1
cfgv==3.3.1
chainer==7.8.1
channels==4.0.0
chardet==5.1.0
charset-normalizer==2.1.1
cheroot==9.0.0
chronological==0.1.1
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.2
comtypes==1.1.14
confection==0.0.4
constantly==15.1.0
contourpy==1.0.6
coverage==7.2.3
cryptography==38.0.4
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
cytoolz==0.12.1
dateparser==1.1.8
DateTime==4.9
deap==1.3.3
debugpy==1.6.5
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.6
Django==4.1.7
django-gmailapi-backend==0.3.2
djangorestframework==3.14.0
dnspython==2.3.0
docker==6.0.1
duckduckgo-search==2.8.6
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl#sha256=35365d49d389ecb19ba33119dca9ab9ff80b36fbeb063fa5d44008197fead8fa
entrypoints==0.4
et-xmlfile==1.1.0
eth-abi==4.0.0b2
eth-account==0.8.0
eth-hash==0.5.1
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.3.0
eth-utils==2.1.0
exceptiongroup==1.0.4
executing==1.2.0
Faker==18.4.0
fastjsonschema==2.16.2
favicon==0.7.0
filelock==3.8.2
firebase-admin==6.4.0
Flag==0.1.1
flake8==6.0.0
Flask==2.2.2
Flask-RESTful==0.3.9
flatbuffers==23.5.26
fonttools==4.38.0
fqdn==1.5.1
frozendict==2.3.7
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
gcovr==7.0
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.11.0
google-api-python-client==2.85.0
google-auth==2.27.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-generativeai==0.3.2
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.59.0
grpcio==1.60.0
grpcio-status==1.60.0
gTTS==2.3.1
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h5py==3.7.0
hexbytes==0.3.0
htbuilder==0.6.1
html5lib==1.1
httpcore==0.17.0
httplib2==0.22.0
httpx==0.24.0
huggingface-hub==0.16.4
humanfriendly==10.0
hydra-core==1.3.1
hyperlink==21.0.0
identify==2.5.22
idna==3.4
importlib-metadata==6.4.1
incremental==22.10.0
iniconfig==1.1.1
ipykernel==6.20.2
ipython==8.8.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
isort==5.12.0
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.1.2
jaraco.functools==3.6.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter-server==1.23.5
jupyter_client==7.4.1
jupyter_core==5.1.3
jupyter_server_terminals==0.4.4
jupyterlab==3.5.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.19.0
keras==2.13.1
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langcodes==3.3.0
lazy_loader==0.3
libclang==14.0.6
librosa==0.10.1
linecache2==1.0.0
llvmlite==0.40.1
loguru==0.6.0
lru-dict==1.1.8
lxml==4.9.1
Markdown==3.4.1
markdown-it-py==2.2.0
markdownlit==0.0.6
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mistune==2.0.4
mkdocs==1.5.2
mlpack==4.0.0.post1
mltu==1.1.0
more-itertools==9.1.0
MouseInfo==0.1.3
mpmath==1.3.0
msal==1.23.0
msgpack==1.0.3
multidict==6.0.4
multitasking==0.0.11
murmurhash==1.0.9
mypy==0.991
mypy-extensions==0.4.3
mysql-connector-python==8.0.32
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.8
nbformat==5.7.3
nclib==1.0.5
nest-asyncio==1.5.6
nodeenv==1.7.0
notebook==6.5.2
notebook_shim==0.2.2
numba==0.57.1
numpy==1.23.4
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.15.1
openai==0.27.2
openapi-python-client==0.13.4
opencv-python==4.6.0.66
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.8.10
outcome==1.2.0
packaging==23.1
pandas==1.5.1
pandas-datareader==0.10.0
pandocfilters==1.5.0
parsel==1.7.0
parsimonious==0.9.0
parso==0.8.3
path==16.6.0
pathspec==0.11.1
pathy==0.10.1
patsy==0.5.3
pickleshare==0.7.5
Pillow==10.0.0
pinecone-client==2.2.1
pipx==1.2.0
platformdirs==2.6.2
playsound==1.2.2
pluggy==1.0.0
pooch==1.7.0
pre-commit==3.2.2
preshed==3.0.8
prettytable==3.7.0
prometheus-client==0.15.0
prompt-toolkit==3.0.36
Protego==0.2.1
proto-plus==1.23.0
protobuf==4.25.2
psutil==5.9.4
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
PyAutoGUI==0.9.53
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.16.0
pydantic==1.10.7
pydeck==0.8.1b0
PyDispatcher==2.0.6
pyflakes==3.0.1
pygame==2.3.0
PyGetWindow==0.0.9
pyglet==2.0.2.1
Pygments==2.14.0
PyJWT==2.8.0
pymdown-extensions==9.11
pymongo==4.6.1
Pympler==1.0.1
PyMsgBox==1.0.9
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
PyQRCode==1.2.1
pyreadline3==3.4.1
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
PySimpleGUI==4.60.4
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.2.0
pytest-asyncio==0.21.0
pytest-benchmark==4.0.0
pytest-cov==4.0.0
pytest-integration==0.2.3
pytest-mock==3.10.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.4
PythonTurtle==0.3.2
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pywin32==305
pywinpty==2.0.10
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==25.0.0
qrcode==7.4.2
qrtools==0.0.2
qtconsole==5.4.0
QtPy==2.3.0
queuelib==1.6.2
razorpay==1.4.1
readability-lxml==0.8.1
redis==4.5.4
regex==2022.10.31
requests==2.28.2
requests-file==1.5.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.4
rlp==3.0.0
rsa==4.9
-e git+https://github.com/huggingface/safetensors@6724ea0344918774fc25faa2257ed64dccb7054f#egg=safetensors&subdirectory=bindings\python
schedule==1.2.0
scheduler==0.8.4
scikit-learn==1.2.0
scipy==1.9.3
Scrapy==2.7.1
seaborn==0.12.2
selenium==4.8.3
semantic-version==2.10.0
Send2Trash==1.8.0
service-identity==21.1.0
setuptools-rust==1.6.0
shapely==2.0.1
shellingham==1.5.0.post1
simpy==4.0.1
six==1.16.0
sketchpy==0.1.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sockets==1.0.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
soxr==0.3.6
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.9.0
spotify==0.10.2
spotipy==2.23.0
sqlparse==0.4.3
srsly==2.4.6
st-annotated-text==4.0.0
stack-data==0.6.2
statsmodels==0.13.5
stow==1.2.2
streamlit==1.21.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
svg.path==6.2
svgpathtools==1.5.1
svgwrite==1.4.3
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.0
terminado==0.17.1
Theano==1.0.5
thinc==8.1.9
threadpoolctl==3.1.0
tiktoken==0.3.3
tinycss2==1.2.1
tk==0.1.0
tldextract==3.4.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.13.0
torchaudio==0.13.0+cu117
torchvision==0.14.0
tornado==6.2
tqdm==4.64.1
traceback2==1.4.0
tradingview-ta==3.3.0
traitlets==5.8.1
transformers==4.31.0
trio==0.22.0
trio-websocket==0.10.2
turtle==0.0.1
tvdatafeed @ git+https://github.com/StreamAlpha/tvdatafeed.git@a7034f04509b67224618917c29272796e4fff858
tweepy==4.13.0
Twisted==22.10.0
twisted-iocpsupport==1.0.2
typeguard==4.1.3
typer==0.7.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.3
ujson==5.7.0
undetected-chromedriver==3.4.6
unicorn-binance-rest-api==1.9.0
unicorn-binance-websocket-api==1.46.0
unicorn-fy==0.12.2
unittest2==1.1.0
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.12
userpath==1.8.0
validators==0.20.0
virtualenv==20.21.0
voila==0.4.0
w3lib==2.1.1
wasabi==0.10.1
watchdog==3.0.0
wcwidth==0.2.6
web3==6.0.0
webcolors==1.12
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wikipedia==1.4.0
win-unicode-console==0.5
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
yarl==1.8.2
yfinance==0.2.17
zipp==3.15.0
zope.interface==5.5.2
